APP_NAME=Civil Billing API
DEBUG=True

DATABASE_URL=mssql+pyodbc://@DESKTOP-3G7J23U%5CSQLEXPRESS/CivilBillingApp?driver=ODBC+Driver+18+for+SQL+Server&trusted_connection=yes&TrustServerCertificate=yes

SECRET_KEY=your-super-secret-key-change-in-production